.chat-bar
  .chat-bar__header
    .chat-bar__header__side-box
      %p.chat-bar__header__side-box__username
        = current_user.name
      %ul.chat-bar__header__side-box__menu
        %li.chat-bar__header__side-box__menu__edit
          = link_to new_group_path, class: "edit__btn" do
            = icon('fab', 'edit', class: "edit__btn--icon")
        %li.chat-bar__header__side-box__menu__cog
          = link_to edit_user_path(current_user), class: "cog__btn" do
            = icon('fas', 'cog', class: "cog__btn--icon")

  .chat-bar__group
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message



